@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Light.ttf)
}

@font-face {
    font-family: roboto-bold;
    src: url(./fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: roboto-extra-bold;
    src: url(./fonts/Roboto-Black.ttf)
}

@font-face {
    font-family: roboto-thin-italic;
    src: url(./fonts/Roboto-ThinItalic.ttf)
}

body {
    display: flex;
    flex-direction: column;
    font-family: roboto;
    margin: 0;
    color: #E5E7EB;
    background-color: #1F2937;
    font-size: 18px;
}

.header {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 75px;
    gap: 50px;
    padding: 0px 200px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: roboto-bold;
    font-size: 24px;
    color: #F9FAF8;
    text-shadow: 0 0 5px #fff; /* Glowing logo! */
    text-decoration: none;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links a {
    color: #E5E7EB;
    text-decoration: none;
}

.header-main {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.header-main-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-main-image img {
    border-radius: 10px;
}

.header-main-text h1 {
    font-family: roboto-extra-bold;
    font-size: 48px;
    margin-bottom: 0;
}

.header-main-text p {
    margin-bottom: 5px;
}

.header-main-text button {
    background-color: goldenrod;
    color: #E5E7EB;
    border: 1px solid goldenrod;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 15px;
}

button:hover {
    background-color: rgba(218, 165, 32, 0.77);
    border: 1px solid rgba(218, 165, 32, 0.77);
}

.image-caption {
    margin-top: 5px;
    font-size: 15px;
    font-family: roboto-thin-italic;
}

a:hover {
    color: #b0bcca;
}

.get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 20px 200px 50px;
}

.selection {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.continent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.continent:hover img {
    opacity: 0.3;
    transition: .3s ease;
    transform: scale(1.1);
}

.label {
    max-width: 100px;
    text-align: center;
    position: relative;
    bottom: 90px;
    color: white;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

.selection img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.get-started h3 {
    color: #1F2937;
    font-family: roboto-extra-bold;
    font-size: 36px;
    margin-bottom: 0;
}

.meet-the-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 50px 200px;
}

.meet-the-team .meet-header {
    font-size: 25px;
    font-family: roboto-extra-bold;
    margin-bottom: 40px;
}

.meet-the-team .member{
    display: flex;
    gap: 20px;
}

.member img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.member .member-description {
    font-size: 20px;
    margin: 5px 1px;
}

.member-name {
    font-size: 30px;
    font-family: roboto-bold;
    margin: 0px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.member-socials {
    margin-top: 20px;
}

.member-socials img{
    width: 30px;
    height: 30px;
}

.contributing {
    padding: 100px 200px;
    background-color: white;
    color: white;
}

.box {
    padding: 50px 100px;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    gap: 100px;
    align-items: center;
}

.box-text {
    display: flex;
    flex-direction: column;
}

.box-header {
    font-family: roboto-bold;
    font-size: 21px;
}

.box-button a {
    color: white;
    padding: 0px;
    font-family: roboto-bold;
    padding: 5px 40px;
    border: 2px solid white;
    border-radius: 10px;
}

.box a:hover {
    background-color: #2f6ac8;
}

a {
    text-decoration: none;
}